In [ ]:
from selenium import webdriver

In [ ]:
Driver_path = '/Users/taimourabdulkarim/Downloads/chromedriver'

In [ ]:
driver = webdriver.Chrome(Driver_path)

In [ ]:
url_path = 'https://www.youtube.com/watch?v=HXV3zeQKqGY'

In [ ]:
driver.get(url_path)

In [ ]:
from selenium.webdriver.common.by import By
videos = driver.find_elements(By.CLASS_NAME, 'style-scope ytd-item-section-renderer')

In [ ]:
for comments in videos:
    name = driver.find_elements(By.XPATH, '//*[@id="author-text"]/span')
    titles = driver.find_elements(By.XPATH, '//*[@id="content-text"]')

In [ ]:
for title in titles: 
    print(title.text)

In [ ]:
import itertools
data={i.text:j.text for (i, j) in zip(name, titles)}

In [36]:
print(data)

             Name                                              Title
0                  Click the "JOIN" button below the video to sup...
1
2
3
4
..            ...                                                ...
165  maomaodoudou  Video is AMAZING! Anyone know where else I can...
166      Niche Id  Thank you for making the entire lesson enjoyab...
167         JP216  It was a great video. I learned a lot. Thank y...
168  Sergio Celis  In one word: Extraordinary, awesome.  Thank yo...
169  Visal Perera  At 3:11:34 you mention how MySQL doesn't suppo...

[170 rows x 2 columns]

In [34]:
import pandas as pd

data = pd.DataFrame({'Name':name, 'Title':titles})
data['Name'] = data['Name'].map(lambda x: x.text)
data['Title'] = data['Title'].map(lambda x: x.text)

In [37]:
data.tail()

             Name                                              Title
165  maomaodoudou  Video is AMAZING! Anyone know where else I can...
166      Niche Id  Thank you for making the entire lesson enjoyab...
167         JP216  It was a great video. I learned a lot. Thank y...
168  Sergio Celis  In one word: Extraordinary, awesome.  Thank yo...
169  Visal Perera  At 3:11:34 you mention how MySQL doesn't suppo...

In [38]:
data.to_csv('youtube.csv')